{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计划 - 骑安欣天擎</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="icon" href="{% static '/img/logo.ico' %}" type="image/x-icon">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
</head>
<style>
    @font-face {
        font-family: 'KingCloud';
        src: url('{% static '/font/Kingsoft_Cloud_Font.ttf' %}') format('truetype');
    }

    .panel {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
</style>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="{% static '/img/logo.png' %}" width="40" height="32">
            <h3 class="ms-2" style="color: #0b5ed7;font-family: 'KingCloud',sans-serif; margin: 0;">骑安欣天擎</h3>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/dash/" class="nav-link px-2 link-dark">主页</a></li>
            <li><a href="/dash/iplist" class="nav-link px-2 link-dark">资产管理</a></li>
            <li><a href="/dash/scheduleList" class="nav-link px-2 link-secondary">任务中心</a></li>
            <li><a href="/dash/assess" class="nav-link px-2 link-dark">资产细则</a></li>
            <li><a href="/dash/falsify" class="nav-link px-2 link-dark">网页防篡改</a></li>
            <li><a href="/api/rev_conf" class="nav-link px-2 link-dark">蜜罐配置</a></li>
            <li><a href="/dash/about" class="nav-link px-2 link-dark">设置</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button disabled class="btn btn-outline-primary"><i class="fa-solid fa-user"></i> {{ user }}</button>
            <a href="/logout.do">
                <button type="button" class="btn btn-primary"><i class="fa-solid fa-right-from-bracket"></i> 注销
                </button>
            </a>
        </div>
    </header>
</div>
<div class="container mt-5">
    <div class="panel">
        <div class="container">
            <div class="card">
                <h5 class="card-header">新建漏洞扫描任务</h5>
                <div class="card-body">
                    <form method="post" action="/api/addVulScan.do">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label" for="target">选择目标IP：</label>
                            <select name="target" id="target" class="form-select">
                                {% for ip in ipList %}
                                    <option value="{{ ip.id }}">{{ ip.ip }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="start_time">选择开始时间：</label>
                            <div class="input-group">
                                <select id="start_time" name="start_time" class="form-select">
                                    <option value="now">立即开始</option>
                                    <option value="after">稍后</option>
                                </select>

                                <div id="datePickerContainer" style="display: none" class="mt-2">
                                    {#                                    <label for="datePicker" class="form-label">选择日期：</label>#}
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker" id="datePicker"
                                               placeholder="yyyy-mm-dd">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">开始</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="panel">
        <div class="container">
            <div class="card">
                <h5 class="card-header">快速检索</h5>
                <div class="card-body">
                    <form method="post" action="scheduleList">
                        <div class="row">
                            <div class="col-md-4">
                                {% csrf_token %}
                                <input id="tarip" type="text" name="ip" class="form-control" placeholder="IP">
                            </div>
                            <div class="col-md-4">
                                <input type="submit" class="btn btn-outline-primary" value="搜">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br/>
        <div class="container">
            <div class="card">
                <h4 class="card-header">搜索结果</h4>
                <div class="card-body">
                    <div class="table-container" id="#port_mgt">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>IP</th>
                                <th>开放端口</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for port in port_list %}
                                <tr>
                                    <td>{{ port.ip_address }}</td>
                                    <td>
                                        {% if port.open_port == 3389 %}
                                            {{ port.open_port }}
                                            <i class="fa-solid fa-circle-exclamation fa-beat fa-lg"
                                               style="color: #c93131;"></i>
                                        {% endif %}
                                        {% if port.open_port != 3389 %}
                                            {{ port.open_port }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary recheckButton"
                                                data-ip="{{ port.ip_address }}"
                                                data-port="{{ port.open_port }}"><i
                                                class="fa-solid fa-arrow-rotate-right"></i>
                                            复查
                                        </button>
                                        {% if port.open_port == 22 %}
                                            <button class="btn btn-outline-primary sshButton"
                                                    data-ip="{{ port.ip_address }}" data-port="{{ port.open_port }}"><i
                                                    class="fa-solid fa-key"></i> 弱口令检查
                                            </button>
                                        {% elif port.open_port == 445 %}
                                            <button class="btn btn-outline-primary smbButton"
                                                    data-ip="{{ port.ip_address }}"><i
                                                    class="fa-solid fa-bahai"></i> 永恒之蓝检查
                                            </button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    // 获取所有具有recheckButton类的按钮元素
    var recheckButtons = document.querySelectorAll(".recheckButton");

    // 为每个按钮添加点击事件监听器
    recheckButtons.forEach(function (button) {
        button.addEventListener("click", function () {
            var ip = this.getAttribute("data-ip");
            var port = this.getAttribute("data-port");

            var apiUrl = `/api/recheck.do?ip=${ip}&port=${port}`;
            button.disable = true;
            button.innerHTML = '<i class="fa-solid fa-spinner fa-spin"></i> 加载中...';
            // 发起HTTP GET请求
            fetch(apiUrl)
                .then(function (response) {
                    return response.json(); // 解析响应为JSON
                })
                .then(function (data) {
                    // 根据响应显示提示框
                    if (data.result === true) {
                        alert("开启");
                    } else {
                        alert("已关闭");
                    }
                })
                .catch(function (error) {
                    alert("Error occurred: " + error.message);
                })
                .finally(function () {
                    // 1秒后解除禁用状态
                    setTimeout(function () {
                        button.disabled = false;
                        button.innerHTML = '<i class="fa-solid fa-arrow-rotate-right"></i> 复查'; // 恢复按钮文本
                    }, 600); // 1000毫秒 = 1秒
                });
        });
    });

    // 获取所有sshButton类的按钮元素
    var sshButtons = document.querySelectorAll(".sshButton");

    // 为每个按钮添加点击事件监听器
    sshButtons.forEach(function (button) {
        button.addEventListener("click", function () {
            var ip = this.getAttribute("data-ip");
            var port = this.getAttribute("data-port");

            var apiUrl = `/api/ssh_weak_password_check.do`;

            // 构建POST请求的数据
            var data = {
                ip: ip,
                port: port
            };
            button.disabled = true;
            button.innerHTML = '<i class="fa-solid fa-spinner fa-spin"></i> 加载中...'; // 使用加载图标
            // 发起HTTP POST请求
            fetch(apiUrl, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })
                .then(function (response) {
                    return response.json(); // 解析响应为JSON
                })
                .then(function (data) {
                    // 根据响应显示提示框
                    if (data.success === true) {
                        alert("发现弱口令:  " + data.password);
                    } else {
                        alert(data.ip + "暂未发现弱口令");
                    }
                })
                .catch(function (error) {
                    alert("Error occurred: " + error.message);
                })
                .finally(function () {
                    // 1秒后解除禁用状态
                    setTimeout(function () {
                        button.disabled = false;
                        button.innerHTML = '<i class="fa-solid fa-key"></i> 弱口令检查'; // 恢复按钮文本
                    }, 600); // 1000毫秒 = 1秒
                });
        });
    });

    var smbButtons = document.querySelectorAll(".smbButton");

    // 为每个按钮添加点击事件监听器
    smbButtons.forEach(function (button) {
        button.addEventListener("click", function () {
            var ip = this.getAttribute("data-ip");

            var apiUrl = `/api/ms17_010_check.do`;

            // 构建POST请求的数据
            var data = {
                ip: ip,
            };

            // 发起HTTP POST请求
            fetch(apiUrl, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })
                .then(function (response) {
                    return response.json(); // 解析响应为JSON
                })
                .then(function (data) {
                    // 根据响应显示提示框
                    if (data.result === "MS17-010") {
                        alert(ip + "存在永恒之蓝");
                    } else {
                        alert(ip + "暂未发现永恒之蓝");
                    }
                })
                .catch(function (error) {
                    alert("Error occurred: " + error.message);
                });
        });
    });


    document.addEventListener("DOMContentLoaded", function () {
        // 获取刷新按钮元素
        var flushButton = document.getElementById("flushButton");

        // 添加点击事件监听器
        flushButton.addEventListener("click", function () {
            // 构建 API URL
            var apiUrl = "/api/flush_online";

            // 发起 GET 请求到后台 API
            fetch(apiUrl, {
                method: "GET"
            })
                .then(function (response) {
                    if (response.ok) {
                        console.log("刷新成功");
                    } else {
                        console.error("刷新失败");
                    }
                })
                .catch(function (error) {
                    console.error("刷新失败：" + error.message);
                });
        });
    });

    // 获取刷新按钮元素
    var flushButton = document.getElementById("flushButton");

    // 点击按钮后执行的函数
    function handleClick() {
        // 禁用按钮
        flushButton.disabled = true;
        flushButton.textContent = " 刷新中...";

        // 添加加载图标
        var spinner = document.createElement("span");
        spinner.className = "spinner-border spinner-border-sm";
        flushButton.prepend(spinner);

        // 模拟加载过程（假设为10秒）
        setTimeout(function () {
            // 恢复按钮状态
            flushButton.disabled = false;
            flushButton.textContent = "刷新";
            location.reload();
        }, 10000); // 10秒

        // 在这里可以添加刷新页面的逻辑
    }

    // 添加点击事件监听器
    flushButton.addEventListener("click", handleClick);

    // 获取返回顶部按钮元素
    var scrollTopButton = document.getElementById("scrollTopButton");

    // 滚动时显示或隐藏返回顶部按钮
    window.addEventListener("scroll", function () {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            scrollTopButton.style.display = "block";
        } else {
            scrollTopButton.style.display = "none";
        }
    });

    // 点击按钮返回顶部
    scrollTopButton.addEventListener("click", function () {
        document.body.scrollTop = 0; // Safari
        document.documentElement.scrollTop = 0; // Chrome, Firefox, IE, Edge
    });

</script>
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            autoclose: true,
        });
    });
    // 监听选择框的变化
    $('#start_time').on('change', function () {
        var selectedValue = $(this).val();
        if (selectedValue === 'after') {
            $('#datePickerContainer').show();
        } else {
            $('#datePickerContainer').hide();
        }
    });
</script>
</html>